.root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 10vh;
}



.openday
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}